* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


 :root {
  --primary-color: #3498db; 
  --secondary-color: #e74c3c;
} 


body {
  font-family: Arial, sans-serif; 
   background: var(--primary-color);

  line-height: 1.6; 
   min-height: 100vh; 
   display: flex; 
   justify-content: center; 
   align-items: center;
}

 Container Styles
.container {
  text-align: center;
  padding: 2rem;
}

input[type="url"] {
  padding: 1rem;
  font-size: 1rem;
  border-color: black;
  border-radius: 4px;
  margin-right: 1rem;
}


button {
  background: var(--secondary-color);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;

}

button:hover {
  background: #c0392b; /* Change to a darker shade on hover */
}



p {
  font-size: 1rem;
  margin: 1rem 0;
}
